WAZUH_VERSION=4.14.3
INDEXER_USERNAME=admin
INDEXER_PASSWORD=CHANGE_ME_SecretPassword
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=CHANGE_ME_MyS3cr37P450r
DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=CHANGE_ME_kibanaserver
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GrafanaAdmin
THEHIVE_SECRET=CHANGE_ME_32CharsSecretKeyMinimum
CASSANDRA_CLUSTER_NAME=thehive
DVWA_DB_PASSWORD=CHANGE_ME_dvwa
